.main-container {
    height: 310px;
    width: 650px;
    display: flex;
    align-items: center;
    position: relative;
}
.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.all-pages-container {
    height: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.arrow {
    color: white;
    cursor: pointer;
    background-color: rgba(134, 128, 128, 0.7);
    border-radius: 25px;
    width: 15px;
    height: 15px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

.arrow-r {
    right: 5px;
}

.arrow-l {
    left: 5px;
}
